<template>
  <v-main id="page-not-found">
    <v-container fill-height>
      <v-layout align-center justify-center>
        <h1>Lo sentimos, la ruta que estás buscando no existe</h1>
        <v-spacer></v-spacer>
        <v-btn color="primary" x-large @click="goDashboard">Sácame de aquí</v-btn>
      </v-layout>
    </v-container>
  </v-main>
</template>

<script>
export default {
  name: "NotFound",
  methods: {
    goDashboard() {
      this.$router.push({name: 'dashboard'})
    }
  }
}
</script>