<template>
  <div>
    <section id="samples-create">
      <h1>{{ id ? 'Detalle de muestra' : 'Nueva Muestra' }}</h1>
      <v-card class="mt-4" elevation="2">
        <v-form ref="sample-form" v-model="valid" lazy-validation @submit.prevent="id ? updateSample() : saveSample()">
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" lg="8" md="6">
                  <v-text-field v-model="sample.name" :rules="rules.required" border label="Nombre de la muestra*"
                                outlined
                                required/>
                </v-col>
                <v-col cols="12" lg="4" md="6">
                  <v-text-field v-model="sample.relacion_molar" border label="Relación molar" outlined/>
                </v-col>
                <v-col cols="12" lg="3" md="6">
                  <v-text-field v-model="sample.temp_ttermico" border
                                label="Temperatura de tratamiento térmico (ºC)"
                                min="1" outlined type="number"/>
                </v-col>
                <v-col cols="12" lg="3" md="6">
                  <v-text-field v-model="sample.tiempo_ttermico" border label="Tiempo de tratamiento térmico (minutos)"
                                min="1"
                                outlined type="number"/>
                </v-col>
                <v-col cols="12" lg="3" md="6">
                  <v-text-field v-model="sample.tiempo_secado" border label="Tiempo de secado (minutos)" min="1"
                                outlined
                                type="number"/>
                </v-col>
                <v-col cols="12" lg="3" md="6">
                  <v-text-field v-model="sample.tiempo_lavado" border label="Tiempo de lavado (minutos)" min="1"
                                outlined
                                type="number"/>
                </v-col>
                <v-col cols="12" lg="4" md="6">
                  <v-text-field v-model="sample.fase" border label="Fase" min="1" outlined type="number"/>
                </v-col>
                <v-col cols="12" lg="8" md="6">
                  <v-select :items="tecnicas" :value="tecnicas_seleccionadas" border label="Técnicas" multiple
                            outlined @change="updateTecnicas"/>
                </v-col>
              </v-row>
              <h2 class="my-10">Inicio del experimento</h2>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-date-picker v-model="sample.dia_inicio" :max="sample.dia_fin" elevation="5"
                                 full-width label="Día de inicio"/>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-time-picker v-model="sample.hora_inicio" :max="sample.hora_fin"
                                 ampm-in-title elevation="5"
                                 full-width
                                 label="Hora de inicio" landscape/>
                </v-col>
              </v-row>
              <h2 class="my-10">Fin del experimento</h2>
              <v-row>
                <v-col cols="12" sm="6">
                  <v-date-picker v-model="sample.dia_fin" :min="sample.dia_inicio" elevation="5"
                                 full-width
                                 label="Día de fin"/>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-time-picker v-model="sample.hora_fin" :min="sample.hora_inicio"
                                 ampm-in-title elevation="5"
                                 full-width
                                 label="Hora de fin" landscape/>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12">
                  <v-textarea v-model="sample.observaciones" border label="Observaciones" outlined/>
                </v-col>
              </v-row>
              <v-row>
                <v-checkbox v-for="tecnica in tecnicas_seleccionadas" :key="tecnica" v-model="sample.tecnicas[tecnica]"
                            :label="tecnica" class="mr-4"></v-checkbox>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn class="mr-2" color="warning" small @click="goBack">
              <v-icon>mdi-arrow-left</v-icon>
              Regresar
            </v-btn>
            <v-btn color="success" small type="submit">
              <v-icon>mdi-content-save-outline</v-icon>
              {{ id ? 'Actualizar' : 'Guardar' }}
            </v-btn>
            <v-spacer></v-spacer>
          </v-card-actions>
        </v-form>
      </v-card>
    </section>
    <section v-if="id" id="registro" class="mt-4">
      <h1>Registro</h1>
      <v-card class="mt-4" elevation="2">
        <v-card-text>
          <v-data-table :headers="headers" :items="messages">
            <template v-slot:item.relay="{item}">
              {{ item.relay ? 'Encendido' : 'Apagado' }}
            </template>
            <template v-slot:item.humidity="{item}">
              {{ item.humidity || '-' }}
            </template>
            <template v-slot:item.timestamp="{item}">
              {{ item.timestamp | moment('LLL:ss') }}
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
    </section>
  </div>
</template>

<script>
const swal = require('sweetalert')

export default {
  name: 'SampleCreate',
  data: () => ({
    headers: [
      {text: 'Controlador', value: 'microController'},
      {text: 'Estado Relevador', value: 'relay'},
      {text: 'Temp (ºC)', value: 'tempC'},
      {text: 'Temp (ºF)', value: 'tempF'},
      {text: 'Humedad (%)', value: 'humidity'},
      {text: 'Hora', value: 'timestamp'},
    ],
    messages: [],
    rules: {
      required: [v => !!v || 'El campo es requerido']
    },
    sample: {
      dia_fin: null,
      dia_inicio: null,
      fase: null,
      hora_fin: null,
      hora_inicio: null,
      name: null,
      observaciones: null,
      relacion_molar: null,
      tecnicas: [],
      tecnicas_status: {},
      temp_ttermico: null,
      tiempo_lavado: null,
      tiempo_secado: null,
      tiempo_ttermico: null,
    },
    tecnicas: ['MET', 'SEM', 'XRD', 'UVVIS'],
    tecnicas_seleccionadas: [],
    valid: false
  }),
  computed: {
    id() {
      return this.$route.params.id
    }
  },
  methods: {
    async getLog() {
      const messages = await this.$axios.get(`logs?dia_inicio=${this.sample.dia_inicio}&dia_fin=${this.sample.dia_fin}&hora_inicio=${this.sample.hora_inicio}&hora_fin=${this.sample.hora_fin}`)
      this.messages = messages.data
    },
    async getSample() {
      const response = await this.$axios.get(`samples/${this.id}`)
      this.sample = response.data
      const responseTecnicas = JSON.parse(response.data.tecnicas)
      let tecnicas = []
      let tecnicas_status = {}
      for (const tecnica in responseTecnicas) {
        if (Object.hasOwnProperty.call(responseTecnicas, tecnica)) {
          tecnicas.push(tecnica)
          tecnicas_status[tecnica] = responseTecnicas[tecnica]
        }
      }
      this.sample.tecnicas = tecnicas_status
      this.tecnicas_seleccionadas = tecnicas
    },
    goBack() {
      this.$router.push({name: 'sample.index'})
    },
    saveSample() {
      if (!this.$refs["sample-form"].validate()) return;

      this.$axios.post('samples/create', {sample: this.sample}).then(response => {
        swal({title: 'Exito', text: response.data.message, icon: 'success'})
        this.$router.push({name: 'sample.detail', params: {id: response.data.id}})
      }).catch(err => {
        console.log(err.response)
      })
    },
    updateSample() {
      if (!this.$refs["sample-form"].validate()) return;
      this.$axios.put(`samples/${this.id}`, {sample: this.sample}).then(response => {
        swal({title: 'Exito', text: response.data, icon: 'success'})
      }).catch(err => {
        console.log(err.response)
      })
    },
    updateTecnicas(tecnicas) {
      this.tecnicas_seleccionadas = tecnicas
      this.tecnicas.forEach(tecnica => {
        if (tecnicas.includes(tecnica)) {
          if (!this.sample.tecnicas[tecnica])
            this.sample.tecnicas[tecnica] = false
        } else
          delete this.sample.tecnicas[tecnica]
      })
    }
  },
  async mounted() {
    if (this.id) {
      await this.getSample()
      this.getLog()
    }
  }
}
</script>