<template>
  <section id="samples-index">
    <h1 class="mx-auto">Muestras</h1>
    <v-card class="mt-4">
      <v-card-title>
        <v-text-field
            v-model="search"
            append-icon="mdi-magnify"
            hide-details
            label="Buscar"
            single-line
        />
        <v-spacer/>
        <v-btn color="primary" small @click="createItem">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-card-title>
      <v-data-table
          :headers="headers"
          :items="samples"
          :search="search"
      >
        <template v-slot:item.created_at="{item}">
          {{ item.created_at | moment('LLL') }}
        </template>
        <template v-slot:item.tecnicas="{item}">
          {{ Object.keys(JSON.parse(item.tecnicas)).sort().join(', ') }}
        </template>
        <template v-slot:item.actions="{ item }">
          <v-icon class="mr-2" color="warning" small @click="editItem(item)">
            mdi-pencil
          </v-icon>
          <v-icon color="error" small @click="deleteItem(item)">
            mdi-delete
          </v-icon>
        </template>
      </v-data-table>
    </v-card>
  </section>
</template>

<script>
export default {
  name: "Samples",
  data: () => ({
    headers: [
      {text: '#', value: 'id'},
      {text: 'Muestra', value: 'name'},
      {text: 'Fecha de creación', value: 'created_at'},
      {text: 'Técnicas', value: 'tecnicas'},
      {text: 'Acciones', value: 'actions', sortable: false}
    ],
    samples: [],
    search: ''
  }),
  methods: {
    createItem() {
      this.$router.push({name: 'sample.create'})
    },
    deleteItem(_item) {
      console.log(_item)
      this.$swal({
        title: 'Estás seguro?',
        text: "Esto no se puede revertir",
        icon: 'warning',
        buttons: ["Cancelar", "Borrar"],
        dangerMode: true
      }).then((willDelete) => {
        if (willDelete) {
          this.$axios.delete('samples/' + _item.id).then(response => {
            if (response.status === 200) {
              this.samples = this.samples.filter(sample => sample.id !== _item.id)
              this.$swal({title: '¡Éxito!', text: response.data, icon: 'success'})
            }
          }).catch(err => {
            console.log(err.response)
          })
        }
      })
    },
    editItem(_item) {
      this.$router.push({name: 'sample.detail', params: {id: _item.id}})
    },
  },
  mounted() {
    this.$axios.get('samples').then(response => {
      this.samples = response.data
    })
  }
}
</script>