<template>
  <v-main id="laboratory">
    <div id="socket-status" :style="'background-color: ' + socketStatusColor"/>
    <h1>Control de laboratorio</h1>
    <v-card id="esp32" class="mt-4">
      <div id="esp32-status" :style="'background-color: ' + arduino.statusColor"/>
      <v-card-title>Esp32</v-card-title>
      <v-card-text>
        <v-row justify="center" no-gutters wrap>
          <v-col cols="12" lg="3" sm="6">
            <v-select v-model="arduino.refreshRate" :items="refreshRates" hide-details
                      label="Velocidad de actualizacion"
                      outlined @change="setRefreshRate('arduino')">
            </v-select>
          </v-col>
          <v-col class="d-flex" cols="12" lg="3" sm="6">
            <v-switch v-model="arduino.relay" :disabled="arduino.loading" :loading="arduino.loading" class="mx-auto"
                      hide-details inset label="Contacto" @click="toggleRelay('arduino')"/>
          </v-col>
          <v-col cols="12" lg="6">
            <v-row>
              <v-col cols="12"><b>Temperatura</b></v-col>
              <v-col cols="6"><span>{{ arduino.tempC || '-' }} ºC</span></v-col>
              <v-col cols="6"><span>{{ arduino.tempF || '-' }} ºF</span></v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-card id="raspberry" class="mt-4">
      <div id="raspberry-status" :style="'background-color: ' + raspberry.statusColor"/>
      <v-card-title>Raspberry</v-card-title>
      <v-card-text>
        <v-row align="center" no-gutters>
          <v-col cols="12" lg="3" sm="6">
            <v-select v-model="raspberry.refreshRate" :items="refreshRates" hide-details
                      label="Velocidad de actualizacion" outlined @change="setRefreshRate('raspberry')"/>
          </v-col>
          <v-col class="d-flex" cols="12" lg="3" sm="6">
            <v-switch v-model="raspberry.relay" :disabled="raspberry.loading" :loading="raspberry.loading"
                      class="mx-auto" inset
                      label="Contacto" @click="toggleRelay('raspberry')"/>
          </v-col>
          <v-col cols="12" lg="6">
            <v-row>
              <v-col cols="6"><b>Temperatura</b></v-col>
              <v-col cols="6"><b>Humedad</b></v-col>
              <v-col cols="6"><span>{{ raspberry.temp || '-' }} ºC</span></v-col>
              <v-col cols="6"><span>{{ raspberry.humidity || '-' }} %</span></v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <section id="socket-messages" class="mt-4">
      <h2>Mensajes</h2>
      <div id="messages">
        <ul>
          <li v-for="(message, index) in messages" v-bind:key="index">
            <b>De: {{ message.sender_id }} </b>
            [{{ message.text }}]
            <p class="text--disabled">{{ $moment(message.created).format('D [de] MMM [de] YYYY - hh:mm:ss a') }}</p>
          </li>
        </ul>
      </div>
      <v-row justify="center">
        <v-btn border @click="clearMessages">Borrar Mensajes</v-btn>
      </v-row>
    </section>
  </v-main>
</template>

<script>
export default {
  name: 'Laboratory',
  data: () => ({
    arduino: {
      loading: true,
      refreshId: null,
      refreshRate: -1,
      relay: false,
      statusColor: 'gray',
      tempC: null,
      tempF: null,
    },
    raspberry: {
      loading: true,
      refreshId: null,
      refreshRate: -1,
      relay: false,
      statusColor: 'gray',
      temp: null,
      humidity: null,
    },
    clientId: null,
    messages: [],
    socket: null,
    refreshRates: [
      {text: 'No actualizar', value: -1},
      {text: '5 segundos', value: 5000},
      {text: '30 segundos', value: 30000},
      {text: '60 segundos', value: 60000},
    ],
    socketStatusColor: 'gray',
    reconnectInterval: 5000,
    reconnectIntervalId: null,
  }),
  computed: {
    user() {
      return JSON.parse(localStorage.getItem('user'))
    },
    jwtToken() {
      return localStorage.getItem('jwt')
    }
  },
  created: function () {
    this.connectWebSocket();
    this.sender_id = `WebClient-${this.$uuid.v1()}`;
    clearInterval(this.reconnectIntervalId)
    clearInterval(this.refreshId)
  },
  methods: {
    clearMessages() {
      this.messages = []
    },
    connectWebSocket() {
      this.socket = new WebSocket(process.env.VUE_APP_WS_URL, ["json"])
      this.socket.onopen = () => {
        clearInterval(this.reconnectIntervalId)

        this.socketStatusColor = '#06D6A0'

        // console.log(`Successfully connected to the websocket server with client_id: ${this.sender_id}`)
        this.socket.onclose = (event) => {
          this.socketStatusColor = '#EF476F'
          this.raspberry.statusColor = '#EF476F'
          this.arduino.statusColor = '#EF476F'
          if (event.wasClean) {
            console.log(`Connection closed clean, code=${event.code} reason=${event.reason}`)
          } else {
            console.log('Connection died')
          }


          this.reconnectIntervalId = setInterval(() => {
            console.log('Reconnecting to the WebSocket')
            this.connectWebSocket()
          }, this.reconnectInterval)
        }
      }
      this.socket.onmessage = (event) => {
        this.messageReceived(event)
      }
      this.socket.onerror = () => {
        clearInterval(this.reconnectIntervalId)
        this.socketStatusColor = '#EF476F'
        this.reconnectIntervalId = setInterval(() => {
          console.log('Reconnecting to the WebSocket')
          this.connectWebSocket()
        }, this.reconnectInterval)
      }
    },
    messageReceived(event) {
      const response = JSON.parse(event.data)
      let message = null

      if (response.sender_id === 'ESP32_1') {
        this.arduino.loading = false
        this.arduino.statusColor = '#06D6A0'
        this.arduino.relay = !!response.pinOutStatus.relay
        this.arduino.tempC = response.pinOutStatus.tempC.toFixed(1)
        this.arduino.tempF = response.pinOutStatus.tempF.toFixed(1)

        message = {
          sender_id: response.sender_id,
          text: `Actualizacion ->
            Contacto: ${this.arduino.relay ? 'Encendido' : 'Apagado'} |
            Temperatura: ${this.arduino.tempC}ºC |
            ${this.arduino.tempF}ºF`,
          created: new Date()
        }
      } else if (response.sender_id === 'Raspberry_1') {
        this.raspberry.loading = false
        this.raspberry.statusColor = '#06D6A0'
        this.raspberry.relay = !!response.state.relay
        this.raspberry.temp = response.state.temp
        this.raspberry.humidity = response.state.humidity

        message = {
          sender_id: response.sender_id,
          text: `Actualizacion ->
            Contacto: ${response.state.relay ? 'Encendido' : 'Apagado'} |
            Temperatura: ${response.state.temp}ºC |
            Humedad: ${response.state.humidity}%`,
          created: new Date()
        }
      } else {
        message = {
          sender_id: response.sender_id,
          text: response.message,
          created: new Date()
        }
      }
      this.messages.unshift(message)
    },
    toggleRelay(_to) {
      this[_to].loading = true
      this[_to].statusColor = '#FFD166'

      this.socket.send(JSON.stringify({
        user_id: this.user.id,
        sender_id: this.sender_id,
        message: 'Toggle Relay',
        to: _to,
        pin: _to === 'arduino' ? 2 : 14,
        state: this[_to].relay
      }))
    },
    setRefreshRate(_platform) {

      clearInterval(this[_platform].refreshId)
      if (this[_platform].refreshRate === -1) return;

      this.refreshData(_platform)
      this[_platform].refreshId = setInterval(() => {
        this.refreshData(_platform)
      }, Number(this[_platform].refreshRate))
    },
    refreshData(_to) {
      this.socket.send(JSON.stringify({
            user_id: this.user.id,
            sender_id: this.sender_id,
            message: 'Refresh',
            to: _to
          }
      ))
    }
  },
}
</script>

<style lang="scss" scoped>
.v-input--switch {
  text-align: center;
}

#socket-messages {
  #messages {
    text-align: left;
    height: 250px;
    max-height: 250px;
    overflow-y: scroll;

    p {
      margin: 0 0 8px 0;
    }
  }

  h2 {
    margin: 0;
  }
}

#socket-status, #raspberry-status, #esp32-status {
  border-radius: 100%;
  position: absolute;
  top: 8px;
  height: 10px;
  width: 10px;
}

#socket-status {
  left: 8px;
}

#raspberry-status, #esp32-status {
  right: 8px;
}

//.text--muted {
//  color: darkgray;
//}
</style>